[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
asyncapi = {extras = ["docs", "http", "redis", "subscriber", "yaml"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
